@import 'variables.css';

.header {
    width: 100%;
    height: 130px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.navbar {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    background-color: var(--background-color);
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}

span {
    color: var(--primary-text-color);
    font-family: var(--body-font-family);
    font-weight: bold;
    font-size: 18px;
}

.city {
    color: var(--secondary-text-color);
}

.country {
    margin-left: 3px;
    color: var(--secondary-text-color);
}

.colon {
    margin: 0 2px 0 2px;
}

.timezone {
    margin-left: 3px;
}


.nav_left {
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: start;
    align-self: center;
}

.nav_middle {
    grid-column: 3 / span 8;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav_right {
    grid-column: -1 / span 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    background: none;
    background-color: transparent;
    padding: 12px 10px;
    border-radius: 100px;
    border: 1px solid var(--border-line-color);
    color: var(--primary-text-color);
    cursor: pointer;
}

.contact:hover {
    background-color: #d35400;
}

.contact_text {
    text-align: center;
    font-family: var(--body-font-family);
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
}

/* Responsive styles */

@media screen and (max-width: 1024px) {
    .navbar {
        padding-left: 20px;
        padding-right: 20px;
    }

    span {
        font-size: 16px;
    }

    .contact_text {
        font-size: 16px;
    }
}

/* @media screen and (max-width: 768px) {} */

@media screen and (max-width: 480px) {
    span {
        font-size: 14px;
    }

    .contact_text {
        font-size: 14px;
    }

    .contact {
        padding: 10px 8px;
    }
}
